<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta name="viewport" content="width=device-width" />
	    <title>系統設定</title>
	
	    <link rel="stylesheet" th:href="@{/jQuery-UI/jquery-ui-1.12.1.min.css}" >
	    <link rel="stylesheet" th:href="@{/jQuery-UI/jquery-ui.theme-1.12.1.min.css}" >
	    <link rel="stylesheet" th:href="@{/Font-Awesome/css/all.css}" >
	    <link rel="stylesheet" th:href="@{/Bootstrap/bootstrap.min.css}" >
	    <link rel="stylesheet" th:href="@{/overlayScrollbars/OverlayScrollbars.min.css}" >
	    <link rel="stylesheet" th:href="@{/AdminLTE/adminlte-3.1.0.min.css}" >
	    <link rel="stylesheet" th:href="@{/jsgrid/jsgrid.min.css}" >
	    <link rel="stylesheet" th:href="@{/jsgrid/jsgrid-theme.min.css}" >
	    <link rel="stylesheet" th:href="@{/CSS/style.css}" >
	
	</head>
	<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapseX" style="height: auto;">
		<div class="wrapper">
		    <div th:include="header :: header"></div>

			<div th:include="navBar :: header"></div>
				
		    <div class="content-wrapper">
		        <div class="main-content">
		             <div class="main-title">
						<span class="title-text" id="showtitle">設定</span>
		             </div>
		
		            <!-- 搜尋bar -->
		            <form id="uploadForm" name="uploadForm">
			            <div class="search-block">
			            	<div class="search-block-line">
								<div>
			                        <label>
			                            <span class="text" >上傳角色資料(Excel)：</span>
			                            <input type="file" id="roleuploadFile" name="roleuploadFile">
			                        </label>
								</div>
								<div class="search-block-line btnventer">
						        	<div class="btn searchbtn btn-success" onclick="roleupload();">上傳</div>
					            </div>
							</div>
			            </div>

			            <div class="search-block mt-3">
			            	<div class="search-block-line">
								<div>
			                        <label>
			                            <span class="text" >上傳功能資料(Excel)：</span>
			                            <input type="file" id="functionuploadFile" name="functionuploadFile">
			                        </label>
								</div>
								<div class="search-block-line btnventer">
						        	<div class="btn searchbtn btn-success" onclick="functionupload();">上傳</div>
					            </div>
							</div>
			            </div>
			            
			            <div class="search-block mt-3">
			            	<div class="search-block-line">
								<div>
			                        <label>
			                            <span class="text" >使用者功能資料(Excel)：</span>
			                            <input type="file" id="useruploadFile" name="useruploadFile">
			                        </label>
								</div>
								<div class="search-block-line btnventer">
						        	<div class="btn searchbtn btn-success" onclick="userupload();">上傳</div>
					            </div>
							</div>
			            </div>
		            </form>
		        </div>
		    </div>
			
			<div th:include="util :: header"></div>

			<div th:include="footer :: footer"></div>
		</div>
	
	 	<script th:src="@{/jQuery/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/jQuery-UI/jquery-ui-1.12.1.min.js}"></script>
		<script th:src="@{/Bootstrap/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/overlayScrollbars/jquery.overlayScrollbars.min.js}"></script>
		<script th:src="@{/AdminLTE/adminlte-3.1.0.min.js}"></script>
		<script th:src="@{/jsgrid/jsgrid.min.js}"></script>
		<script th:src="@{/JS/all.js}"></script>
		<script th:src="@{/JS/apiGLUtil.js}"></script>
			
		<script>
			
			document.getElementById("selectSystemSetup").innerHTML = '<i class="fa-solid fa-circle nav-icon"></i>';
			document.getElementById("showtitle").innerHTML = document.getElementById("showSystemSetup").innerHTML;

			function roleupload() {

				const selectedFile = document.getElementById('roleuploadFile').files[0];
				if (selectedFile == undefined) {
					errorMsg("錯誤", "尚未選擇檔案");
					return false;
			    }
				
				let extname = selectedFile.name.substring(selectedFile.name.lastIndexOf(".")+1).toLowerCase();
				if(extname != 'xls' && extname != 'xlsx') {
					errorMsg("錯誤", "只可上傳Excel檔案");
					return false;
				}
				
				let data = new FormData(); 
				data.append("uploadFile", selectedFile)
				fetch('<%=request.getContextPath()%>/systemSetup/roleupload', {
				  method: 'POST',
				  body: data,
				})
				.then((response) => {
					return response.json();
			    })
			    .then((resp) => {
			    	let respdata = resp;
					console.log(respdata);
			    	if (respdata.code == 200) {
			    		errorMsg("", respdata.message);
			    	} else {
			    		errorMsg("錯誤", resp.message);
			    	}
			    })
				//console.log("extname");
			}

			function functionupload() {

				const selectedFile = document.getElementById('functionuploadFile').files[0];
				if (selectedFile == undefined) {
					errorMsg("錯誤", "尚未選擇檔案");
					return false;
			    }
				
				let extname = selectedFile.name.substring(selectedFile.name.lastIndexOf(".")+1).toLowerCase();
				if(extname != 'xls' && extname != 'xlsx') {
					errorMsg("錯誤", "只可上傳Excel檔案");
					return false;
				}
				
				let data = new FormData(); 
				data.append("uploadFile", selectedFile)
				fetch('<%=request.getContextPath()%>/systemSetup/functionupload', {
				  method: 'POST',
				  body: data,
				})
				.then((response) => {
					return response.json();
			    })
			    .then((resp) => {
			    	let respdata = resp;
					console.log(respdata);
			    	if (respdata.code == 200) {
			    		errorMsg("", respdata.message);
			    	} else {
			    		errorMsg("錯誤", resp.message);
			    	}
			    })
				//console.log("extname");
			}
			
			function userupload() {

				const selectedFile = document.getElementById('useruploadFile').files[0];
				if (selectedFile == undefined) {
					errorMsg("錯誤", "尚未選擇檔案");
					return false;
			    }
				
				let extname = selectedFile.name.substring(selectedFile.name.lastIndexOf(".")+1).toLowerCase();
				if(extname != 'xls' && extname != 'xlsx') {
					errorMsg("錯誤", "只可上傳Excel檔案");
					return false;
				}
				
				let data = new FormData(); 
				data.append("uploadFile", selectedFile)
				fetch('<%=request.getContextPath()%>/systemSetup/userupload', {
				  method: 'POST',
				  body: data,
				})
				.then((response) => {
					return response.json();
			    })
			    .then((resp) => {
			    	let respdata = resp;
					console.log(respdata);
			    	if (respdata.code == 200) {
			    		errorMsg("", respdata.message);
			    	} else {
			    		errorMsg("錯誤", resp.message);
			    	}
			    })
				//console.log("extname");
			}
			//錯誤訊息顯示
			function errorMsg(title, msg) {
				document.getElementById("myModalLabel").innerHTML = title;
				document.getElementById("myModalBoby").innerHTML = msg;
				document.getElementById("btnModal").click();
			}
			
		</script>
	</body>
</html>