<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta name="viewport" content="width=device-width" />
	    <title>台灣企銀-日誌查詢系統TWPayLineBindLog</title>
	
	    <link rel="stylesheet" th:href="@{/jQuery-UI/jquery-ui-1.12.1.min.css}" >
	    <link rel="stylesheet" th:href="@{/jQuery-UI/jquery-ui.theme-1.12.1.min.css}" >
	    <link rel="stylesheet" th:href="@{/Font-Awesome/css/all.css}" >
	    <link rel="stylesheet" th:href="@{/Bootstrap/bootstrap.min.css}" >
	    <link rel="stylesheet" th:href="@{/overlayScrollbars/OverlayScrollbars.min.css}" >
	    <link rel="stylesheet" th:href="@{/AdminLTE/adminlte-3.1.0.min.css}" >
	    <link rel="stylesheet" th:href="@{/jsgrid/jsgrid.min.css}" >
	    <link rel="stylesheet" th:href="@{/jsgrid/jsgrid-theme.min.css}" >
	    <link rel="stylesheet" th:href="@{/CSS/style.css}" >
	    
	</head>
	<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapseX" style="height: auto;">
		<div class="wrapper">
		    <div th:include="header :: header"></div>

			<div th:include="navBar :: header"></div>
	
		    <div class="content-wrapper">
		        <div class="main-content">
		            <div class="main-title">
		                <span class="title-text" id="showtitle">TWPayLineBindLog查詢</span>
		            </div>
		
		            <!-- 搜尋bar -->
		            <form id="myForm" name="myForm">
		            <div class="search-block">
		                <div class="search-block-line">
		                    <div>
		                        <label>
		                            <span class="text" >搜尋日期：</span>
		                            <input type="date" id="queryDate" name="queryDate">
		                        </label>
		                        &nbsp;&nbsp;&nbsp;
		                        <label>
		                            <span class="text">起迄時間：</span>
		                            <input type="time" id="timeStart" name="timeStart">~ <input type="time" id="timeEnd" name="timeEnd">
		                        </label>
		                    </div>
		                </div>
		                <div class="search-block-line">
		                    <div>
		                        <label>
		                            <span class="text">身分證字號或統編：</span>
		                            <input type="text" id="queryUserId" name="queryUserId">
		                        </label>
		                        &nbsp;&nbsp;
		                        <label>
		                            <span class="text">關鍵字：</span>
		                            <input type="text" id="querydata" name="querydata">
		                        </label>
		                    </div>
		                </div>
		                <div class="search-block-line">
		                    <div>
		                        <label>
		                            <span class="text">type：</span>
		                            <select id="queryType" name="queryType">
									    <option value="" selected></option>
									    <option value="1">1</option>
									    <option value="2">2</option>
									</select>
		                        </label>
		                        &nbsp;&nbsp;
		                        <label>
		                            <span class="text">URL：</span>
		                            <input type="text" id="queryUrl" name="queryUrl">
		                        </label>
		                    </div>
		                </div>
		                <div class="search-block-line btnventer">
		                    <div class="btn searchbtn newbtn-gray" onclick="doClear(0);">清除</div>
		                    &nbsp;&nbsp;
		                    <div class="btn searchbtn newbtn-yellow" onclick="doquery();">搜尋</div>
		                </div>
		            </div>
		            </form>
		            
		            <div th:include="jsgrid :: header"></div>
		
		        </div>
		    </div>
		
			<div th:include="util :: header"></div>

			<div th:include="footer :: footer"></div>
		</div>
	
		<script th:src="@{/jQuery/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/jQuery-UI/jquery-ui-1.12.1.min.js}"></script>
		<script th:src="@{/Bootstrap/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/overlayScrollbars/jquery.overlayScrollbars.min.js}"></script>
		<script th:src="@{/AdminLTE/adminlte-3.1.0.min.js}"></script>
		<script th:src="@{/jsgrid/jsgrid.min.js}"></script>
		<script th:src="@{/JS/all.js}"></script>
		<script th:src="@{/JS/apiGLUtil.js}"></script>
			
		<script th:inline="javascript">
		
			var checkClear = 0;
			document.getElementById("queryTable").value = 'TwPayLineBindLog';
		
		
			//查詢資料
			function doquery() {
				clicknum = 0;
				$("#jsGrid").jsGrid("reset");
				dojsGrid();
			}
		
			//顯示查詢結果
			function dojsGrid() {
				let showcount = document.getElementById("showcount").value;
				let message = "無資料";//"無資料"
				
				$("#jsGrid").jsGrid({
				    width: "100%",
				    height: "auto",
		
				    inserting: false,
				    editing: false,
				    sorting: true,
				    paging: true,
				    
				    autoload: true,
				    
				    pageLoading: true,
				    pageIndex: 1,
				    pageSize: showcount,
				    pageButtonCount: 5,
				    pagerFormat: "頁數: {first} {prev} {pages} {next} {last} &nbsp;&nbsp; {pageIndex} / {pageCount}",
				    pagePrevText: "上一頁",
				    pageNextText: "下一頁",
				    pageFirstText: "第一頁",
				    pageLastText: "最後頁",
				    
				    noDataContent: message,
				    controller:
						{
					    	loadData: function(filter) {
						    	if(checkClear != 1){
							        let requ = Object.assign(filter, objectifyForm($("#myForm").serializeArray()));
							        return queryajax("twPayLineBindLog/", requ, /*[[@{/}]]*/'', "POST");
						    	}
						    }
						},
						fields: [
							{ name: "twPayLineBindLogId", type: "text", width: 40 , title:"索引" },
							{ name: "twPayLineBindLogLineUid", type: "text", width: 140, title:"LineUid" },
							{ name: "twPayLineBindLogTxnNo", type: "text", width: 100, title:"TxnNo"},
							{ name: "twPayLineBindLogTxnDateTime", type: "text", width: 100, title:"TxnDateTime"},
							{ name: "showDate", type: "text", title: "訊息日期"},
							{ name: "showTime", type: "text", title: "訊息時間"},
							{ 
								itemTemplate: function(_, item) {
					                return $("<button>").text("詳細")
					                	.on("click", function() {
					        				document.getElementById("queryId").value = item.twPayLineBindLogId;
					                		document.showDetailed.submit();
					                	});
					          	}, sorting: false
							}
						]
				})
			}
		
			//清除查詢資料
			function doClear(num) {
				checkClear = 1;
				$("#jsGrid").jsGrid("reset");
				
				if(num == 0) {
					document.getElementById("itemsCountDiv").style.display = 'none';
					document.getElementById("queryUserId").value = null;
					document.getElementById("querydata").value = null;
					document.getElementById("queryDate").value = null;
					document.getElementById("queryType").value = null;
					document.getElementById("queryUrl").value = null;
					document.getElementById("timeStart").value = null;
					document.getElementById("timeEnd").value = null;
				}
				$("#jsGrid").children().remove();
				checkClear = 0;
			}
		
			//錯誤訊息顯示
			function errorMsg(title, msg) {
				if(clicknum == 0) {
					document.getElementById("myModalLabel").innerHTML = title;
					document.getElementById("myModalBoby").innerHTML = msg;
					document.getElementById("btnModal").click();
					doClear(1);
					clicknum = 1;
				}
			}
			
		</script>
	</body>
</html>